In [4]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
import re
import string
import emoji
# from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

In [30]:
# Created a list to append all tweet attributes(data)
attributes_container = []
Q = '(sambo AND polisi) OR (joshua AND polisi)'
Q2 = 'polisi AND kanjuruhan'

# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(Q2 + ' since:2022-10-01 until:2022-10-16 -filter:retweets -filter:links').get_items()):
    if i > 10000:
        break
    attributes_container.append([tweet.date, tweet.likeCount, tweet.content])

# Creating a dataframe from the tweets list above
tweets_df = pd.DataFrame(attributes_container, columns=[
                         "Date Created", "Number of Likes", "Tweets"])
tweets_df2 = pd.DataFrame(attributes_container, columns=[
                          "Date Created", "Number of Likes", "Tweets"])

In [63]:
tweets_df
tweets_df2

,Date Created,Number of Likes,Tweets
0,2022-09-30 11:01:05+00:00,1,Jelang Laga Derby Arema FC dan Persebaya di St...

In [32]:
# tweets_df.to_csv('10K sambo josua polisi.csv')  
# tweets_df2.to_csv('10k2_'+Q2 + '.csv')

In [23]:
df1 = pd.read_csv('10k_polisi AND kanjuruhan.csv')
df1 = df1.drop(columns=['Unnamed: 0', 'Date Created', 'Number of Likes'])

df2 = pd.read_csv('10K sambo josua polisi.csv')
df2 = df2.drop(columns=['Unnamed: 0', 'Date Created', 'Number of Likes'])

In [24]:
def clean_text(text):
    text = text.lower()
    text = re.sub('@[^\s]+','',text)
    text = re.sub('http[^\s]+','',text)
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', ' ', text)
    text = re.sub('\w*\d\w*', '', text)
    return text



df1['Tweets'] = df1['Tweets'].apply(clean_text)
df2['Tweets'] = df2['Tweets'].apply(clean_text)

In [25]:
df1

                                                  Tweets
0      sama mas saya pikir fokusnya sama bobroknya ke...
1       haduh polisi lagi yg ditonjolkan polisi dah n...
2      membuat konsorsium judi menjadi sindikat narko...
3        yg gak punya wibawa ya jokowi dan mempora ma...
4      ditambah lg dgn tembakan gas air mata k tribun...
...                                                  ...
9996   seuporter merasa benar turun k lapang kanjuruh...
9997   penonton salah polisi salah  semuanya salah di...
9998    ini waktu  di gbt setelah persebaya kalah law...
9999   citra polisi indonesia bisa hancur jika kasus ...
10000  tragedi kanjuruhan adalah akibat akumulasi kes...

[10001 rows x 1 columns]

In [26]:
df2

                                                  Tweets
0       keren jokowi tangkap penjahat kakap kemaren a...
1      dipikirpikir pantesan polisi tahuntahun belaka...
2      setelah kasus sambo yang mayan ribet banyak  p...
3      bubarkan  institusi  kepolisian  copot  kapolr...
4       memang kalau jadi polisi baik karir telat jab...
...                                                  ...
9996   ini baru benar polisipengayomrakyat   jangan j...
9997   polisi sambo budaya kekerasan om   bukankah in...
9998      terkuak kenapa densi kebal hukum ternyata i...
9999   kata bapak w polisi sewa uya kuya aja biar sam...
10000   apresiasi kecepatan polisi dalam mengusut per...

[10001 rows x 1 columns]